---
layout: default
title: Notes
---
<ul class="notes">
  {% for note in site.notes %}
    <li>
      <h2><a href="{{ note.url }}">{{ note.title }}</a></h2>
      <p class="date">{{ note.date | date: '%B %e, %Y' }}</p>
      {{ note.excerpt }}
    </li>
  {% endfor %}
</ul>
