$horiz-margin: 24px;
$vert-margin: 20px;
$code-padding: 24px;
$logo-color: #3080f0;
$nav-link-current: black;
$nav-link: gray;
$nav-font: 14pt Helvetica;
$nav-separator: #e8e8e8;
$paragraph-font: 12pt Helvetica;
$date-color: #303030;
$author-color: #303030;
$code-font: 11pt Monospace;
$block-code-bg: #f0f0f0;
$inline-code-bg: #f0f0f0;
body {
    header {
        margin-top: $vert-margin;
        margin-left: $horiz-margin;
        margin-right: $horiz-margin;
        margin-bottom: $vert-margin;
        height: 24px;
        a.logo {
	    color: $logo-color;
	    font: $nav-font;
	    text-decoration: none; // Don't underline links
        }
        nav {
	    float: right;
	    a {
	        margin-left: 5px; // Space between nav links
	        color: $nav-link;
	        font: $nav-font;
	        text-decoration: none; // Don't underline links
	    }    
	    a.current {
	        color: $nav-link-current; // Color active link
	    }
        }
    }
    footer {
        width: 100%;
        bottom: -10px;
        position: fixed;
    }
    margin: 0px;
    hr.separator { // Separation line under nav
	background-color: $nav-separator;
	border: none;
	height: 2px;
    }
    ul.posts, ul.notes { // Post list
	list-style-type: none;
	padding: 0;
    }
    p { // Text
	font: $paragraph-font;
	margin-left: $horiz-margin;
	margin-right: $horiz-margin;
	margin-top: $vert-margin;
	margin-bottom: $vert-margin;
    }
    p.date {
	color: $date-color;
	font-style: italic;
	float: right;
    }
    p.author {
	color: $author-color;
	font-style: italic;
	float:right;
    }
    //Links
    a {
	overflow-wrap: break-word; // Keep link from poking out margin
    }
    // Headers
    h1, h2, h3, h4, h5, h6 {
	margin-left: $horiz-margin*2;
	a { // Remove underline on post/note list, etc.
	    text-decoration: none;
	}
    }
    h1 { // Centered, the main title
	font: 18pt Helvetica;
	text-align: center;
	margin-left: 0px;
    }
    h2, h3, h4 { // Big but not a title
	font: 16pt  Helvetica;
    }
    h5, h6 { // Kinda big
	font: 14pt Helvetica;
    }
    // Inline code snippets
    code {
	font: $code-font;
	background-color: $inline-code-bg;
	overflow-wrap: break-word; // Keep code from poking out margin
    }
    // Syntax highlighting. TODO: put in different file
    .highlight {
	padding-left: $code-padding;
	font: $code-font;
	margin: 0px;
	display: block;
	overflow: auto;//Scroll bar
	background-color: $block-code-bg;
	.c     { color: #998; font-style: italic } // Comment
	.err   { color: #a61717; background-color: #e3d2d2 } // Error
	.k     { font-weight: bold } // Keyword
	.o     { font-weight: bold } // Operator
	.cm    { color: #998; font-style: italic } // Comment.Multiline
	.cp    { color: #999; font-weight: bold } // Comment.Preproc
	.c1    { color: #998; font-style: italic } // Comment.Single
	.cs    { color: #999; font-weight: bold; font-style: italic } // Comment.Special
	.gd    { color: #000; background-color: #fdd } // Generic.Deleted
	.gd .x { color: #000; background-color: #faa } // Generic.Deleted.Specific
	.ge    { font-style: italic } // Generic.Emph
	.gr    { color: #a00 } // Generic.Error
	.gh    { color: #999 } // Generic.Heading
	.gi    { color: #000; background-color: #dfd } // Generic.Inserted
	.gi .x { color: #000; background-color: #afa } // Generic.Inserted.Specific
	.go    { color: #888 } // Generic.Output
	.gp    { color: #555 } // Generic.Prompt
	.gs    { font-weight: bold } // Generic.Strong
	.gu    { color: #aaa } // Generic.Subheading
	.gt    { color: #a00 } // Generic.Traceback
	.kc    { font-weight: bold } // Keyword.Constant
	.kd    { font-weight: bold } // Keyword.Declaration
	.kp    { font-weight: bold } // Keyword.Pseudo
	.kr    { font-weight: bold } // Keyword.Reserved
	.kt    { color: #458; font-weight: bold } // Keyword.Type
	.m     { color: #099 } // Literal.Number
	.s     { color: #d14 } // Literal.String
	.na    { color: #008080 } // Name.Attribute
	.nb    { color: #0086B3 } // Name.Builtin
	.nc    { color: #458; font-weight: bold } // Name.Class
	.no    { color: #008080 } // Name.Constant
	.ni    { color: #800080 } // Name.Entity
	.ne    { color: #900; font-weight: bold } // Name.Exception
	.nf    { color: #900; font-weight: bold } // Name.Function
	.nn    { color: #555 } // Name.Namespace
	.nt    { color: #000080 } // Name.Tag
	.nv    { color: #008080 } // Name.Variable
	.ow    { font-weight: bold } // Operator.Word
	.w     { color: #bbb } // Text.Whitespace
	.mf    { color: #099 } // Literal.Number.Float
	.mh    { color: #099 } // Literal.Number.Hex
	.mi    { color: #099 } // Literal.Number.Integer
	.mo    { color: #099 } // Literal.Number.Oct
	.sb    { color: #d14 } // Literal.String.Backtick
	.sc    { color: #d14 } // Literal.String.Char
	.sd    { color: #d14 } // Literal.String.Doc
	.s2    { color: #d14 } // Literal.String.Double
	.se    { color: #d14 } // Literal.String.Escape
	.sh    { color: #d14 } // Literal.String.Heredoc
	.si    { color: #d14 } // Literal.String.Interpol
	.sx    { color: #d14 } // Literal.String.Other
	.sr    { color: #009926 } // Literal.String.Regex
	.s1    { color: #d14 } // Literal.String.Single
	.ss    { color: #990073 } // Literal.String.Symbol
	.bp    { color: #999 } // Name.Builtin.Pseudo
	.vc    { color: #008080 } // Name.Variable.Class
	.vg    { color: #008080 } // Name.Variable.Global
	.vi    { color: #008080 } // Name.Variable.Instance
	.il    { color: #099 } // Literal.Number.Integer.Long
    }
}
