<!doctype html>
<html>
{% include head.html %}  <body>
    {% include header.html %}    <hr class="separator">
    {{ content }}      <footer>
        <p><a href="https://liberapay.com/asphaug/donate"><img alt="Donate using Liberapay" src="https://liberapay.com/assets/widgets/donate.svg"></a></p>
      </footer>
    </body>
</html>
